
{% extends "base.html" %}

{%  block navbar %}

    <div class="navbar">
        <div>
            <ul class="nav nav-pills">
                <li class="nav-item">
                <a class="nav-link" href="/home/">Home</a>
                </li>
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Librarian</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/admin/">Admin</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/reports/">Reports</a>
                </li>
            </ul>
        </div>

        <div class="logout-button">
             <a href="{{url_for('logout')}}" class="btn btn-warning btn-sm">
                        Click to Logout </a>
        </div>
    </div>

{% endblock navbar %}

{%  block content %}

<form method="POST" action="#" class="lib_form" name="lib_issue_book" onsubmit="return validateForm_book_issue()">
    <br><br>
    <label for="memberId"> Student or Teacher Id: </label> <input class="lib_form_input" type="text" id="memberId" name="memberId"> <br> <br>
    <label for="bookId"> Book Id: </label> <input class="lib_form_input" type="text" id="bookId" name="bookId">  <br> <br>
    <label for="issueDate"> Issue Date (YYYY-MM-DD): </label> <input class="lib_form_input" type="text" id="issueDate" name="issueDate">  <br> <br> <br>

    <div class="form-buttons">
        <input type="submit" value="Issue Book" class="btn btn-primary btn-sm" formaction="{{url_for('book_issue')}}">
        <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}">  
    </div>
</form>

<form method="POST" action="#" class="lib_form" name="lib_return_book" onsubmit="return validateForm_book_return()">
    <br> <br>
    <label for="memberId"> Student or Teacher Id: </label> <input class="lib_form_input" type="text" id="memberId" name="memberId"> <br> <br>
    <label for="bookId"> Book Id: </label> <input class="lib_form_input" type="text" id="bookId" name="bookId">   <br> <br>
    <label for="returnDate"> Return Date (YYYY-MM-DD): </label> <input class="lib_form_input" type="text" id="returnDate" name="returnDate">  <br> <br> <br>

    <div class="form-buttons">
        <input type="submit" value="Return Book" class="btn btn-primary btn-sm" formaction="{{url_for('book_return')}}">
        <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}">  
    </div> <br>


</form>

{% endblock %}


{% block Flash_Messages %}

    {% with messages = get_flashed_messages() %}
        {% for msg in messages %}      
           <p>{{msg}}</p>
        {% endfor %}
    {% endwith %}

{% endblock Flash_Messages %}